<div class="header">
    <nav>
        <img src="../../../assets/LogoVeterinaria.png" alt="logo" id="logo">
        <ul class="nav-links">
            <li><a routerLink="/">Inicio</a></li>
            <li><a routerLink="/mascota">Administrar Mascotas</a></li>
            <li><a href="#">Consultar historia clínica</a></li>
            <li><a href="#">Administrar Personas</a></li>
            <li><a routerLink="/about">Sobre nosotros</a></li>
        </ul>
        <!-- <img [src]="logo" alt="perfil" id="imgPerfil"> -->
        <a class="btn-login" routerLink="/login">Iniciar Sesión</a>
    </nav>
</div>