<app-navbar></app-navbar>

<main>
    <section class="acciones">
        <h2 id="titulo">Mascotas</h2>
        <div>
            @if (!buscar) {
            <button class="btn" (click)="Buscar()"><fa-icon [icon]="lupa"></fa-icon> Buscar</button>
            }
            <button class="btn" (click)="mostrarForm('0')" id="add"><fa-icon [icon]="faPlus"></fa-icon> Agregar
                Mascota</button>
        </div>
        <!-- <input type="button" class="input" id="agregar" placeholder="Agregar"> -->
    </section>
    @if (buscar) {
    <section class="busqueda">
        <form action="" id="form-buscar">
            <input type="text" class="params" placeholder="Ingrese el nombre">
            <input type="text" class="params" placeholder="Ingrese la cedula del dueño">
            <button class="btn" type="button"><fa-icon [icon]="lupa"></fa-icon> Buscar</button>
        </form>
    </section>
    }
    <section class="contenido">
        <table>
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Edad</th>
                    <th>Especie</th>
                    <th>Raza</th>
                    <th>Color</th>
                    <th>Tamaño</th>
                    <th>Peso</th>
                    <th>Cédula del dueño</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @for (item of listPets; track item.IDMascota) {
                <tr>
                    <td>{{item.Nombre}}</td>
                    <td>{{item.Edad}}</td>
                    <td>{{item.Especie}}</td>
                    <td>{{item.Raza}}</td>
                    <td>{{item.Color}}</td>
                    <td>{{item.Tamanio}}</td>
                    <td>{{item.Peso}}kg</td>
                    <td>{{item.IdDuenio}}</td>
                    <td class="btns">
                        <button class="Edit" (click)="mostrarForm(item.IDMascota!)">
                            <fa-icon [icon]="faPenToSquare"></fa-icon> Editar
                        </button>
                        <button class="Delete">
                            <fa-icon [icon]="faTrash"></fa-icon> Eliminar
                        </button>
                    </td>
                </tr>
                }
                <!-- <tr>
                    <td>Manolo</td>
                    <td>12</td>
                    <td>Pájaro</td>
                    <td>aaaaaa</td>
                    <td>azul</td>
                    <td>123</td>
                    <td>20</td>
                    <td>1234</td>
                    <td class="btns">
                        <button class="Edit">
                            <fa-icon [icon]="faPenToSquare"></fa-icon> Editar
                        </button>
                        <button class="Delete">
                            <fa-icon [icon]="faTrash"></fa-icon> Eliminar
                        </button>
                    </td>
                </tr> -->
            </tbody>
        </table>
    </section>

</main>

<app-footer></app-footer>